<app-header class="row col-12"></app-header>
<div class="container mt-4">
  <div class="row" id="slider">
    <h2>{{noticia.detalle}}</h2>
    <figure>
      <img class="img-fluid" src="assets/{{noticia.img}}">
    </figure>
  </div>
  <div class="row" id="slider">
    <button type="button" class="btn btn-outline-dark" (click)="anterior()">Anterior</button>
    <button type="button" class="btn btn-outline-dark" (click)="siguiente()">Siguiente</button>
  </div>
</div>
<app-footer class="row col-12"></app-footer>