.img-fluid {
  width: 900px;
  height: 450px;
}

.row {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

button {
  height: 50px;
  width: 100px;
}

#slider {
  align-items: center;
  justify-content: center;
  text-align: center;
}